@font-face {
    src:url('../futura-lt/FuturaLT.ttf');
    font-family: FuturaLT ;
}
@font-face {
    src:url('../futura-lt/FuturaLT-Bold.ttf');
    font-family: FuturaLT-Bold ;
}
@font-face {
    src:url('../futura-lt/GIL_____.TTF');
    font-family: GillSansMT ;
}
.main{
    margin: 0 auto;
}
body {
    width: 1100px;
    margin: 0 auto;
    font-family: FuturaLT;
    background: #f3f3f3;
    font-size: 14px;
}

a{
    text-decoration: none;
}
.content {
    margin-left: 120px;
    margin-right: 120px;
    height: auto;
}

/*Header*/
.top-header {
    background-color: #ffcb0f;
    margin: 0 auto;
    width: 1100px;
}
.nav-top{
    display: inline-block;
}
.nav-top ul{
    padding-left: 0px;
}
.nav-top li{
    list-style: none;
    display: inline-block;
}
.nav-top span{
    margin-left: 10px;
    font-size: 12px;
    margin-right: 15px;
    padding: 25px 0px 15px 0px;
}

.social-icon {
    width: 25%;
    display: inline;
    float: right;
}
.social-icon ul{
    padding-right: 0;
}
.social-icon li{
    list-style: none;
    float: right;
    text-align: center;
    width: 15px;
    padding: 5px;
}
.social-icon i:hover, .nav-top span:hover{
    cursor: pointer;
}
.social-icon i:hover{
    color: #e5e5e5;
}

.tabnav {
    background-color: rgb(34, 37, 51);
    position: absolute;
    width: 1100px;
    margin: 0 auto;
    height: 82px;
}
.tabnav nav{
    position: absolute;
    right: 120px;
    padding: 30px 0px 30px 0px;
}
.tabnav nav a{
    color: #e5e5e5;
    margin-left: 15px;
    font-size: 14px;
}
.tabnav nav a:hover{
    color: #ffcb0f;
}
.logo {
    position: absolute;
    line-height: 2px;
    padding: 15px 0px 15px 0px;
}
.logo h1{
     font-size: 20px;
     font-style: italic;
    font-family: FuturaLT-Bold ;
     color: rgb(255, 203, 15);
 }
.logo h3{
    font-size: 14px;
    color: rgb(183, 183, 183);
}


/*Main BAnner*/
.banner {
    position: absolute;
    top: 128px;
    width: 1100px;
    margin: 0 auto;
    height: 501px;
    background-image: url("../images/Layer 9.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.img-background {
    position: absolute;
    top: 130px;
    width: 1100px;
    margin: 0 auto;
    height: 500px;
    background-color: #333333;
    opacity: 0.2;
}
.text-area{
    text-align: center;
    margin: 80px 50px 60px 50px;
}
.text-area h2{
    font-family: FuturaLT;
    font-size: 30px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.text-area h1{
    font-size: 48px;
    font-family: FuturaLT-Bold;
    top : 20px;
    color: rgb(255, 255, 255);
    line-height: 2px;
}
.text-area h3{
    font-size: 48px;
    font-family: FuturaLT-Bold;
    color: rgb(255, 203, 15);
    line-height: 0.5px;
}
.text-area p{
    top: 50px;
    font-size: 16px;
    color: #f3f3f3;
}
.more{
    text-align: center;
}
.button {
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 203, 15);
    width: 120px;
    height: 35px;
    font-size: 12px;
    font-family: FuturaLT-Bold;
    color: rgb(255, 255, 255);
    border: none;
}
.button-right{
    margin-left: 80px;
}


/*About-company*/
.about-com{
    position: absolute;
    width: 1100px;
    margin: 580px auto;
    height: 422px;
    display: block;
}
.text-left{
    position: absolute;
    top: 30px;
    width: 60%;
    text-align: left;
}
.text-left h2{
    font-size: 32px;
    font-family: FuturaLT-Bold;
    line-height: 0.1;
    color: rgb(255, 203, 15);
}
.text-left h3{
    font-size: 24px;
    font-family: FuturaLT-Bold;
    font-weight: 400;
    color: #222222;
}
.text-left p{
    font-size: 14px ;
    color: #222222;
    padding: 0px 120px 20px 0px;
}
.bg-right {
     right: 120px;
     width: 40%;
    display: inline-block;
     background-image: url("../images/Layer 2.png");
     background-repeat: no-repeat;
     background-position: 5px;
    float: right;
 }
.bg-right img{
    margin-left: 25%;
    max-height: 422px;
}
/*Why-chose-us*/
.Why-chose-us{
    position: absolute;
    width: 1100px;
    height: 580px;
    margin-top: 1002px;
    background-color: #f2f7fa;
}
.text-center{
    text-align: center;
    margin:  50px 0px 0px 0px;
}
.text-center h2{
    font-size: 24px;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.text-center p{
    font-size: 14px ;
    color: #222222;
}
.container {
    display: flex;
    padding-top: 2px;
    margin: 0 auto; }
.item-4 {
    flex-basis: 25%;
    margin-left: 1%;}
.item-4 h4{
    font-size: 15px;
    font-family: FuturaLT-Bold;
    color: #222222;
    text-align: center;
}
.item-4-wcu {
    flex-basis: 25%;
    text-align: center;
}
.item-4-footer-2{
    flex-basis: 20%;
}
.item-4-footer-2 p{
    font-size: 14px ;
    color: rgb(183, 183, 183);
    hyphens: auto;
}
.item-4-footer-2 a, .item-4-footer a{
    color: rgb(183, 183, 183);
    font-size: 14px;
    padding-left: 5%;
}
.item-4-footer a span{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding: 2% 5% 5% 2%;
    left: 20px;
}
.item-4 h6{
    font-size: 12px;
    color: #ffffff;
    margin: 2px 0px;
}
.item-4-footer {
    flex-basis: 30%;
    }
.text {
    padding-top: 10%;
}
.item-4-footer p{
    font-size: 14px ;
    color: rgb(183, 183, 183);
    margin-top: 35%;
    margin-right: 10%;
    float: left;
}
.item-4 img{
    float: left;
    padding-right: 5px;
}
.item-4 p{
    padding: 5px 15px;
}
.footer .item-4 p{
    display: inline;
    font-size: 15px ;
    color: rgb(183, 183, 183);
    margin: 10% 3% 0% 10%;
    float: left;
}

.item-4-footer h2, .item-4-footer-2 h2{
    font-size: 20px;
    color: rgb(183, 183, 183);
    padding-top: 50px;
    text-align: left;
}
.item-4-footer-2 ul, .item-4-footer ul {
    margin: 55px 0px 0px 0px;
    padding: 0;
    list-style: none;
}
.item-4-footer-2 li, .item-4-footer li{
    font-size: 15px;
    color: #e5e5e5;
    display: list-item;
    margin-bottom: 8%;
}

.bo-1{
    width: 130px;
    height: 130px;
    background: #ffea9f;
    border-radius: 90px;
    margin: 30px 30px 10px 30px;
}
.bo-2{
    width: 110px;
    height: 110px;
    position: absolute;
    margin: 10px 10px;
    background: #fadb64;
    border-radius: 80px;
}
.bo-3 {
    width: 90px;
    height: 90px;
    position: absolute;
    margin: 10px 10px;
    background: #ffcb0f;
    border-radius: 80px;
}
.bo-4{
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 10px 10px;
    background: #ffffff;
    border-radius: 80px;
}
.bo-4 img{
    margin-top: 21px;
    margin-left: 22px;
    width: 25px;
    height: 25px;
}

/* Our Service*/
.our-service{
    position: absolute;
    width: 1100px;
    height: 661px;
    margin-top: 1563px;
    background-color: #fafff8;
}
.our-service h2{
    font-size: 24px;
    margin: 50px 0px 40px 0px;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.item-3 {
    flex-basis: 33%;
    margin-left: 2%;
}
.item-3 img{
    width: 95%;
    height: 45%;
}
.item-3 .review-left img{
    float:left;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 15%;
    max-height: 15%;
}
.item-3 h4{
    font-size: 15px;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.item-3 p{
    font-size: 14px ;
    color: #222222;
    padding-bottom: 20px;
}

.item-3 .review-center img{
    float:left;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 14%;
    max-height: 11%;
}

/*Made-with-love*/
.made-with-love{
    position: absolute;
    width: 1100px;
    height: 730px;
    margin-top: 2224px;
    background-image: url("../images/Layer 3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.made-with-love h2{
    font-size: 24px;
    margin-top: 5%;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #f3f3f3;
}
.made-with-love section{
    text-align: center;
}
.made-with-love p{
    font-size: 14px;
    color: #f3f3f3;
}
.made-with-love nav a{
    font-size: 14px;
    font-family: FuturaLT;
    color: #f3f3f3;
    padding: 10px;
}
.made-with-love nav{
    padding: 40px;
}
.made-with-love nav a:hover{
    background-color: #222533;
    border-radius: 100px;
}
button:hover{
    background-color: #222533;
    cursor:pointer;
}
.item-4-footer-2 a:hover,.item-4-footer span:hover, .item-4-footer-2 span:hover{
    color: #ffcb0f;
}

li img{
    border-radius: 50%;
    max-width: 20%;
    margin-left: 0;
    display: inline-block;
    float: left;
}
.container-made {
    display: flex;
    margin: 0% 0.5% 0% 0.5%; }
.item-2{
    flex-basis: 50%;
    margin-right: 3px;
    height: 100%;
}
.item-6{
    flex-basis: 50%;
}
.item-6 img{
    height: 415px;
    width: 100%;
}
.item-2 img{
    width: 100%;
    height: 205px;
}

/* Customer review
 */
.review{
    position: absolute;
    width: 1100px;
    height: 916px;
    margin-top: 2954px;
    background-image: url("../images/Layer 17.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.review-left{
    height: 250px;
    margin: 25% 4% 0% 4%;
    border-radius: 3.5%;
    background-color: #e5e5e5;
    z-index : 0;
}
.review-center{
    height: 310px;
    margin: 8% 3% 0% 3%;
    border-radius: 3.5%;
    background-color: #ffcb0f;
    z-index: 1;
}
.review-left p{
    font-size: 14px;
    padding-top: 15%;
    text-align: left;
    margin: 0% 5% 13% 20%;
}
.review-center p{
    font-size: 14px;
    padding-top: 18%;
    text-align: left;
    margin: 0% 5% 13% 20%;
    color: #f3f3f3;
}
.icon-img{
    width: 30%;
    margin: 20% auto;
    text-align: center;
}
.box-center {
    margin: 0 auto;
    border-top: 15px solid #ffcb0f;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0; height:0;
}
.box-left {
    margin: 0 auto;
    border-top: 15px solid #e5e5e5;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0; height:0;
}
.box-right {
    float: left;
    display: inline-block;
    border-top: 5px solid transparent;
    border-right:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #e5e5e5;
    width: 0;
    height:2px;
    margin: 0% 5% 0% 0%;
}


/*Contact form
 */
.contact{
    position: absolute;
    width: 1100px;
    height: 150px;
    margin-top: 3680px;
    background-color: #ffcb0f;
    opacity: 0.75;
}
.contact h2{
    font-size: 22px;
    margin-top: 8%;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.contact h1{
    font-size: 26px;
    margin-top: 5%;
    text-align: center;
    color: #222222;
}
.item-2 input{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10% 0% 5% 0%;
    width: 90%;
    height: 40px;
    border: none;
    padding-left: 10px;
}
.contact-input{
    margin-right: 10px;
}
.contact-input input{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 2% 2% 5% 0%;
    width: 72%;
    height: 40px;
    border: none;
    padding-left: 10px;
}
.contact-input button{
    border-radius: 10px;
    background-color: rgb(47, 50, 64);
    width: 20%;
    height: 40px;
    margin-left: 5px;
    color: #f3f3f3;
    border: none;
}
.contact-input button:hover{
    background-color: firebrick;
    cursor:pointer;
}

/*Footer
 */
.tab-mo{
    position: absolute;
    width: 1100px;
    height: 40px;
    margin-top: 3830px;
    background-color: #222533;
    opacity: 0.4;
}
.footer{
    position: absolute;
    width: 1100px;
    height: 550px;
    margin-top: 3870px;
    background-image: url("../images/Layer 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-footer {
    position: absolute;
    margin-top: 220px;
    width: 20%;
     display: flex;}

.item-5 {
    flex-basis: 20%;
    margin-right: 3%;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    background-color: #ffcb0f;
    border-radius: 50px;
}
.item-5 i{
    margin-left: 30%;
    margin-top: 30%;
}
.item-5 a:hover{
    color: #f2f2f2;
}
.item-5 a{
    color: #222222;
}
.item-4 a{
    color: rgb(183, 183, 183);
}

footer{
    position: absolute;
    width: 1100px;
    margin-top: 4420px;
    background-color: #222533;
}
footer .footer-text{
    text-align: center;
    font-size: 14px;
    padding: 20px;
}
footer p{
    display: inline;
    color: #f3f3f3;
}
footer h6{
    top: 10px;
    display: inline;
    color: #ffcb0f;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 70%;
    max-width: 1100px;
}
.mySlides img{
    margin-top: 3%;
    height: 450px;
    width: 55%;
    text-align: center;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.padding{
    padding-left: 60px;
}
a {
    color: #222222;
}