@font-face {
    src:url('../futura-lt/FuturaLT.ttf');
    font-family: FuturaLT ;
}
@font-face {
    src:url('../futura-lt/FuturaLT-Bold.ttf');
    font-family: FuturaLT-Bold ;
}
@font-face {
    src:url('../futura-lt/GIL_____.TTF');
    font-family: GillSansMT ;
}
.main{
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: FuturaLT;
    background: #f3f3f3;
    font-size: 14px;
}
p{
    word-break: break-all;
}
a{
    text-decoration: none;
}
.content {
     margin-left: 10%;
     margin-right: 10%;
     height: auto;
 }

/*Header*/
.top-header {
    background-color: #ffcb0f;
    margin: 0 auto;
    width: 100%;
    height: 50px;
}
.nav-top{
    display: inline-block;
    width: 75%;
}
.nav-top ul{
    padding: 0px;
}
.nav-top li{
    list-style: none;
    display: inline-block;
}
.nav-top span{
    margin-left: 5px;
    font-size: 12px;
    margin-right: 15px;
}
.social-icon {
    width: 25%;
    display: inline-block;
    float: right;
}
.social-icon ul{
    padding: 0;
}
.social-icon li{
    list-style: none;
    float: right;
    width: 15px;
    margin-left: 10px;
}
.social-icon i:hover, .nav-top span:hover{
    cursor: pointer;
}
#first{
    margin-left: 0%;
}
.tabnav {
    background-color: rgb(34, 37, 51);
    width: 100%;
    margin: 0 auto;
    height: 82px;
}
.tabnav nav{
    float: right;
    padding-top: 3%;
}
.tabnav nav a{
    color: #e5e5e5;
    margin-left: 25px;
    font-size: 14px;
}
.tabnav nav a:hover{
    color: #ffcb0f;
}
.logo {
    position: absolute;
    line-height: 2px;
    padding: 15px 0px 15px 0px;
}
.logo h1{
     font-size: 20px;
     font-style: italic;
    font-family: FuturaLT-Bold ;
     color: rgb(255, 203, 15);
    padding-bottom: 4px;
 }
.logo span{
    font-size: 14px;
    color: rgb(183, 183, 183);
}

/*Main BAnner*/
.banner {
    width:100%;
    margin: 0 auto;
    background-image: url("../images/Layer 9.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.img-background {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: #333333;
    opacity: 0.2;
}
.text-area{
    text-align: center;
    padding: 8% 5% 6% 5%;
}
.text-area h2{
    font-family: FuturaLT;
    font-size: 30px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.text-area h1{
    font-size: 48px;
    margin: 0 auto;
    font-family: FuturaLT-Bold;
    padding: 2% 0px 10px 0px;
    color: rgb(255, 255, 255);
}
.text-area h3{
    font-size: 48px;
    margin: 0 auto;
    font-family: FuturaLT-Bold;
    color: rgb(255, 203, 15);
}
.text-area p{
    font-size: 16px;
    color: #f3f3f3;
}
.more{
    text-align: center;
    padding: 0% 5% 15% 5%;
}
.button {
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 203, 15);
    width: 120px;
    height: 35px;
    font-size: 12px;
    font-family: FuturaLT-Bold;
    color: rgb(255, 255, 255);
    border: none;
}
.button-right{
    margin-left: 8%;
}


/*About-company*/
.about-com{
    width: 100%;
    margin: 0 auto;
    display: block;
}
.company{
    padding: 0;
}
.text-left{
    width: 70%;
    text-align: left;
    display: inline-block;
    padding: 2% 0% 10% 0% ;
}
.text-left h2{
    font-size: 32px;
    font-family: FuturaLT-Bold;
    margin: 0 auto;
    padding-top: 10%;
    color: rgb(255, 203, 15);
}
.text-left h3{
    font-size: 24px;
    font-family: FuturaLT-Bold;
    margin: 0 auto;
    font-weight: 400;
    color: #222222;
    padding-bottom: 1%;
}
.text-left p{
    font-size: 14px ;
    color: #222222;
}
.bg-right {
     width: 30%;
    display: inline-block;
     background-image: url("../images/Layer 2.png");
     background-repeat: no-repeat;
     background-position: 5px;
     float: right;
 }
.bg-right img{
    margin-left: 18%;
    max-height: 422px;
}
/*Why-chose-us*/
.Why-chose-us{
    width: 100%;
    background-color: #f2f7fa;
    display: block;
}
.text-center{
    text-align: center;
    padding: 5% 0% 5% 0%;
}
.text-center h2{
    margin: 0 auto;
    font-size: 24px;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.text-center p{
    font-size: 14px ;
    color: #222222;
}
.container {
    display: flex;
    padding: 0% 0% 10% 0%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.item-4 {
    flex-basis: 25%;
}
.item-4 h4{
    font-size: 15px;
    font-family: FuturaLT-Bold;
    color: #222222;
    text-align: center;
}
.item-4-wcu {
    flex-basis: 25%;
    text-align: center;
}
.item-4-footer-2{
    flex-basis: 20%;
}
.item-4-footer-2 p{
    font-size: 14px ;
    color: #e5e5e5;
    hyphens: auto;
}
.item-4-footer-2 a, .item-4-footer a{
    color: #e5e5e5;
    font-size: 14px;
    padding-left: 5%;
}
.item-4-footer a span{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding :0.5em 0 1.5em 0;
    left: 20px;
}
.item-4 h6{
    font-size: 12px;
    color: #ffffff;
    margin: 2px 0px;
}
.item-4-footer {
    flex-basis: 30%;
    }

.item-4-footer p{
    font-size: 14px ;
    color: #e5e5e5;
    margin-top: 35%;
    margin-right: 10%;
    float: left;
}
.item-4 img{
    float: left;
    padding-right: 5px;
}
.item-4 p{
    padding: 1% 2%;
}
.footer .item-4 p{
    display: inline;
    font-size: 15px ;
    color: #e5e5e5;
    margin: 10% 3% 0% 10%;
    float: left;
}

.item-4-footer h2, .item-4-footer-2 h2{
    font-size: 20px;
    color: #e5e5e5;
    padding-top: 60px;
    text-align: left;
}
.item-4-footer-2 ul, .item-4-footer ul {
    margin: 40px 0px 0px 0px;
    padding: 0;
    list-style: none;
}
.item-4-footer-2 li, .item-4-footer li{
    font-size: 15px;
    color: #e5e5e5;
    display: list-item;
    margin-bottom: 8%;
}
.bo-1{
    width: 130px;
    height: 130px;
    background: #ffea9f;
    border-radius: 90px;
    margin: 0 auto;
}
.bo-2{
    width: 110px;
    height: 110px;
    position: absolute;
    margin: 10px 10px;
    background: #fadb64;
    border-radius: 80px;
}
.bo-3 {
    width: 90px;
    height: 90px;
    position: absolute;
    margin: 10px 10px;
    background: #ffcb0f;
    border-radius: 80px;
}
.bo-4{
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 10px 10px;
    background: #ffffff;
    border-radius: 80px;
}
.bo-4 img{
    margin-top: 21px;
    margin-left: 22px;
    width: 25px;
    height: 25px;
}

/* Our Service*/
.our-service{
    width: 100%;
    background-color: #fafff8;
    display: block;
}
.our-service h2{
    font-size: 24px;
    padding: 5% 0% 3% 0%;
    margin: 0 auto;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.item-3 {
    flex-basis: 33%;
}
.item-3 img{
    width: 90%;
    margin: 0% 5% 0% 5%;
    height: 45%;
    padding: 3% 0%;
}
.item-3 .review-left img{
    float:left;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 15%;
    max-height: 15%;
}
.item-3 h4{
    margin-left: 5%;
    font-size: 14px;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.item-3 p{
    font-size: 14px ;
    color: #222222;
    float: left;
    padding: 0% 5% 2% 5%;
}
.item-3 .button{
    margin-left: 5%;
}
.know{
    padding-bottom: 10%;
}

.item-3 .review-center img{
    float:left;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 14%;
    max-height: 10%;
}
figure{
    margin: 0;
    padding: 0;
}
.item-6 figure:hover img, .item-8 figure:hover img{
    opacity: 1;
    -webkit-animation: flash 2.5s;
    animation: flash 2.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


/*Made-with-love*/
.made-with-love{
    display: block;
    width: 100%;
    background-image: url("../images/Layer 3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.made-with-love h2{
    font-size: 24px;
    margin: 0 auto;
    padding: 5% 0% 0% 0%;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #f3f3f3;
}
.made-with-love section{
    text-align: center;
}
.made-with-love p{
    font-size: 14px;
    color: #f3f3f3;
}
.made-with-love nav a{
    font-size: 14px;
    font-family: FuturaLT;
    color: #f3f3f3;
    padding: 1.5em;
}
.made-with-love nav{
    padding: 40px;
}
.made-with-love nav a:hover{
    background-color: #222533;
    border-radius: 50px;
}
button:hover{
    background-color: #222533;
    cursor:pointer;
}
.item-4-footer-2 a:hover,.item-4-footer span:hover, .item-4-footer-2 span:hover{
    color: #ffcb0f;
}

li img{
    border-radius: 50%;
    max-width: 20%;
    margin-left: 0;
    display: inline-block;
    float: left;
}
.container-made {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
}
.container-tac{
    display: flex;
}
.item-2{
    flex-basis: 50%;
    height: 100%;
}
.item-8{
    flex-basis: 50%;
    height: 100%;
}
.item-6{
    flex-basis: 50%;
}
.item-6 img{
    height: 415px;
    width: 100%;
}
.item-8 img{
    width: 96%;
    height: 203px;
    float: right;
}

/* Customer review
 */
.review{
    width: 100%;
    display: block;
    background-image: url("../images/Layer 17.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.review > .item-3{
    padding-bottom: 0% ;
}

.review-left{
    height: 250px;
    margin: 20% 4% 0% 4%;
    border-radius: 3.5%;
    background-color: #e5e5e5;
    z-index : 0;
}
.review-center{
    height: 310px;
    margin: 8% 3% 0% 3%;
    border-radius: 3.5%;
    background-color: #ffcb0f;
    z-index: 1;
}
.review-left p{
    font-size: 14px;
    text-align: left;
    margin: 0% 5% 13% 20%;
}
.review-center p{
    font-size: 14px;
    text-align: left;
    margin: 0% 5% 13% 20%;
    color: #f3f3f3;
}
.icon-img{
    width: 30%;
    margin: 10% auto;
    text-align: center;
}
.box-center {
    margin: 0 auto;
    border-top: 15px solid #ffcb0f;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0; height:0;
}
.box-left {
    margin: 0 auto;
    border-top: 15px solid #e5e5e5;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0; height:0;
}
.box-right {
    float: left;
    display: inline-block;
    border-top: 5px solid transparent;
    border-right:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #e5e5e5;
    width: 0;
    height:2px;
    margin: 2% 5% 0% 0%;
}


/*Contact form
 */
.contact{
    width: 100%;
    display: block;
    background-color: #ffcb0f;
    opacity: 0.75;
}
.contact h2{
    font-size: 22px;
    margin-top: 8%;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.contact h1{
    font-size: 26px;
    margin-top: 5%;
    text-align: center;
    color: #222222;
}
.item-2 input{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10% 0% 5% 0%;
    width: 90%;
    height: 45px;
    border: none;
    padding-left: 10px;
}
.contact-input{
    margin-right: 10px;
}
.contact-input input{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 2% 2% 5% 0%;
    width: 72%;
    height: 45px;
    border: none;
    padding-left: 10px;
}
.contact-input button{
    border-radius: 10px;
    background-color: rgb(47, 50, 64);
    width: 20%;
    height: 45px;
    margin-left: 5px;
    color: #f3f3f3;
    border: none;
}
.contact-input button:hover{
    background-color: firebrick;
    cursor:pointer;
}

/*Footer
 */
.tab-mo{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #222533;
    opacity: 0.4;
}
.footer{
    width: 100%;
    display: block;
    background-image: url("../images/Layer 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-footer {
    width: 100%;
    flex-wrap: wrap;
    display: flex;}

.item-5 {
    flex-basis: 20%;}
.circle{
    width: 40px;
    height: 40px;
    background: #ffcb0f;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.item-5 i{
    margin-left: 11px;
    margin-top: 12px;
}
.item-5 a{
    color: #222222;
}
.item-4 a{
    color: #e5e5e5;
    padding-bottom: 1.5em;
}
.item-15{
    flex-basis: 10%;
}
.item-85{
    flex-basis: 90%;
    display: block;
}
.item-15 i, .item-85 i{
    float: right;
}
.item-15 span, .item-85 span{
    float: left;
    margin-left: 10%;
    display: block;
}
.text-margin-left h2{
    padding-left: 5%;
}

footer{
    width: 100%;
    display: block;
    background-color: #222533;
}
footer .footer-text{
    text-align: center;
    font-size: 14px;
    padding: 20px;
}
footer p{
    display: inline;
    color: #f3f3f3;
}
footer h6{
    top: 10px;
    display: inline;
    color: #ffcb0f;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 70%;
    max-width: 100%;
}
.mySlides img{
    margin-top: 3%;
    height: 50%;
    width: 55%;
    text-align: center;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.padding{
    padding-left: 60px;
}
a {
    color: #222222;
    padding: 1.5em 0;
}
.fa-facebook-f:hover{
    color: #3046b7;
}
.fa-twitter:hover{
    color: #00a2f1;
}
.fa-youtube:hover{
    color: #cb092c;
}
.fa-linkedin-in:hover{
    color: #170d83;
}
.fa-google-plus-g:hover{
    color: #cb092c;
}
.fa-behance:hover{
    color: #3046b7;
}
.fa-volleyball-ball:hover{
    color: #e36309;
}
.fa-search{
    color: #ffcb0f;
}