@font-face {
    src:url('../futura-lt/FuturaLT.ttf');
    font-family: FuturaLT ;
}
@font-face {
    src:url('../futura-lt/FuturaLT-Bold.ttf');
    font-family: FuturaLT-Bold ;
}
@font-face {
    src:url('../futura-lt/GIL_____.TTF');
    font-family: GillSansMT ;
}
.main{
    margin: 0 auto;
}
body {
    width: 1100px;
    margin: 0 auto;
    font-family: FuturaLT;
    background: #f3f3f3;
    font-size: 15px;
}
p {
    font-size: 20px;
    color: #f3f3f3;
}
a{
    text-decoration: none;
}

/*Header*/
.top-header {
    background-color: #ffcb0f;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    width: 1100px;
    height: 44px;
}
.nav-top{
    margin-left:5%;
    width: 50%;
    height: 44px;
    display: inline-block;
}
.nav-top span{
    margin-left: 2%;
    font-size: 12px;
}
.nav-top ul{
    margin-top: 0;
}
.nav-top li{
    list-style: none;
    float: left;
    width: 30%;
    margin-top: 2%;
    margin-right: 2px;
}
.contact-id nav{
    position: absolute;
    margin-left: 8%;
    top: 10.575px;
}
.tabnav nav a{
    color: #e5e5e5;
    margin-left: 15px;
}
.tabnav nav a:hover{
    color: #ffcb0f;
}
nav img{
    width: 20px;
    height: 20px;
    top: 10.575px;
    margin: 0 auto;
}
.social-icon {
    width: 25%;
    height: 44px;
    display: inline;
    margin-right: 8%;
    float: right;
}
.social-icon ul{
    margin-top: 2%;
}
.social-icon li{
    list-style: none;
    float: right;
    text-align: center;
    width: 7%;
    margin-top: 2%;
    margin-left: 4%;
}
.tabnav {
    background-color: rgb(34, 37, 51);
    position: absolute;
    top: 42px;
    width: 1100px;
    margin: 0 auto;
    height: 92px;
}
.tabnav nav{
    top: 33.445px;
    position: absolute;
    right: 8%;
}
.logo {
    top: 15px;
    position: absolute;
    margin-left: 8%;
    height: 90px;
    line-height: 2px;
}
.logo h1{
     font-size: 27px;
     font-style: italic;
     color: rgb(255, 203, 15);
 }
.logo h2{
    font-size: 15px;
    color: rgb(183, 183, 183);
}


/*Main BAnner*/
.banner {
    position: absolute;
    top: 130px;
    width: 1100px;
    margin: 0 auto;
    height: 600px;
    background-image: url("../images/Layer 9.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.img-background {
    position: absolute;
    top: 130px;
    width: 1100px;
    margin: 0 auto;
    height: 600px;
    background-color: #333333;
    opacity: 0.2;
}
.text-area{
    position: absolute;
    top: 10px;
    margin: 0% 8% 0% 8% ;
    text-align: center;
}
.text-area h2{
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.text-area h1{
    font-size: 50px;
    font-family: FuturaLT-Bold;
    top : 20px;
    color: rgb(255, 255, 255);
    line-height: 1.5px;
}
.text-area h3{
    font-size: 50px;
    font-family: FuturaLT-Bold;
    color: rgb(255, 203, 15);
    line-height: 0.5px;
}
.text-area p{
    top: 50px;
    font-size: 16px;
    color: #f3f3f3;
}
.button {
    margin-top: 450px;
    margin-left: 35%;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 203, 15);
    width: 147px;
    height: 40px;
    font-size: 14px;
    font-family: FuturaLT-Bold;
    color: rgb(255, 255, 255);
    border: none;
}
.button-right{
    margin-left: 80px;
}


/*About-company*/
.about-com{
    position: absolute;
    width: 1100px;
    margin: 770px auto;
    height: 472px;
    display: block;
}
.text-left{
    position: absolute;
    top: 30px;
    margin-left: 8%;
    width: 45%;
    text-align: left;
}
.text-left h2{
    font-size: 30px;
    font-family: FuturaLT-Bold;
    color: rgb(255, 203, 15);
    line-height: 3.5px;
}
.text-left h3{
    font-size: 25px;
    color: #222222;
    line-height: 3.5px;
}
.text-left p{
    font-size: 15px ;
    color: #222222;
}
.text-left button{
    margin-top: 50px;
    margin-left: 0px;
    font-size: 16px;
    font-family: FuturaLT-Bold;
    border-radius: 10px;
    background-color: rgb(255, 203, 15);
    width: 157px;
    height: 45px;
    border: none;
}
.bg-right {
     right: 8%;
     margin-left: 57%;
     background-image: url("../images/Layer 2.png");
     background-repeat: no-repeat;
     background-position: 5px;
 }
.bg-right img{
    margin-left: 25%;
}
/*Why-chose-us*/
.Why-chose-us{
    position: absolute;
    width: 1100px;
    height: 680px;
    margin-top: 1242px;
    background-color: #f2f7fa;
    padding-bottom: 10px;
}
.text-center{
    text-align: center;
    margin: 5% 8% 0% 8%;
}
.text-center h2{
    font-size: 30px;
    margin-top: 3%;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.text-center p{
    font-size: 15px ;
    color: #222222;
}
.container {
    display: flex;
    padding-top: 2px;
    margin: 0% 8% 0% 8%; }
.item-4 {
    flex-basis: 25%;
    margin-left: 1%;}
.item-4-wcu {
    flex-basis: 25%;
    text-align: center;
}
.item-4 h4{
    font-size: 17px;
    font-family: FuturaLT-Bold;
    color: #222222;
    text-align: center;
}
.item-4 p{
    font-size: 15px ;
    color: #222222;
}
.item-4 h2{
    font-size: 20px;
    color: rgb(183, 183, 183);
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 15%;
    /*text-align: center;*/
}
.item-4 h6{
    font-size: 12px;
    color: #ffffff;
    margin: 2px 0px;
}
.item-4-footer {
    flex-basis: 25%;
    margin-left: 1%;}
.item-4-footer p{
    font-size: 15px ;
    color: rgb(183, 183, 183);
    margin-top: 10%;
    margin-left: 5%;
    float: left;
}
.item-4 img{
    float: left;
    padding-right: 5px;
}
.footer .item-4 p{
    display: inline;
    font-size: 15px ;
    color: rgb(183, 183, 183);
    margin: 10% 3% 0% 10%;
    float: left;
}
.item-4-footer h3{
    float: left;
    font-size: 25px;
    font-family: FuturaLT-Bold;
    font-style: italic;
    margin-top: 20%;
    line-height: 0.5px;
    color: rgb(255, 203, 15);
}
.item-4-footer h5{
    float: left;
    margin-top: 0.005px;
    font-size: 17px;
    color: rgb(183, 183, 183);
}
.item-4-footer h2{
    font-size: 20px;
    color: rgb(183, 183, 183);
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: left;
}

.bo-1{
    width: 150px;
    height: 150px;
    background: #ffea9f;
    border-radius: 90px;
    margin: 30px;
}
.bo-2{
    width: 130px;
    height: 130px;
    position: absolute;
    margin: 10px 10px;
    background: #fadb64;
    border-radius: 80px;
}
.bo-3 {
    width: 110px;
    height: 110px;
    position: absolute;
    margin: 10px 10px;
    background: #ffcb0f;
    border-radius: 80px;
}
.bo-4{
    width: 90px;
    height: 90px;
    position: absolute;
    margin: 10px 10px;
    background: #ffffff;
    border-radius: 80px;
}
.bo-4 img{
    margin-top: 29px;
    margin-left: 28px;
    width: 32px;
    height: 32px;
}




/* Our Service*/
.our-service{
    position: absolute;
    width: 1100px;
    height: 741px;
    margin-top: 1903px;
    background-color: #fafff8;
}
.our-service h2{
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.item-3 {
    flex-basis: 33%;
    margin-left: 2%;
}
.item-3 img{
    width: 95%;
    height: 50%;
}
.item-3 .review-left img{
    float:left;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 15%;
    max-height: 15%;
}
.item-3 h4{
    font-size: 17px;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.item-3 p{
    font-size: 15px ;
    color: #222222;
}
.item-3 button{
    margin-top: 20px;
    margin-left: 0px;
    font-size: 16px;
    font-family: FuturaLT-Bold;
    border-radius: 10px;
    background-color: rgb(255, 203, 15);
    width: 157px;
    height: 45px;
    border: none;
}
.item-3 .review-center img{
    float:left;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 14%;
    max-height: 11%;
}

/*Made-with-love*/
.made-with-love{
    position: absolute;
    width: 1100px;
    height: 890px;
    margin-top: 2644px;
    background-image: url("../images/Layer 3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.made-with-love h2{
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #f3f3f3;
}
.made-with-love section{
    margin: 0% 8% 5% 8%;
    text-align: center;
}
.made-with-love p{
    font-size: 15px;
}
.made-with-love nav a{
    font-size: 15px;
    font-family: FuturaLT;
    color: #f3f3f3;
    margin-left: 3%;
    padding: 10px;
}
.made-with-love nav a:hover{
    background-color: #222533;
    border-radius: 100px;
}
button:hover{
    background-color: #222533;
    cursor:pointer;

}
.item-4 ul {
    margin: 25% 0% 2% 5%;
    padding: 0;
    list-style: none;
}
.item-4 li {
    font-size: 15px;
    color: #e5e5e5;
    margin-bottom: 8%;
    display: list-item;
}
li img{
    border-radius: 50%;
    margin-left: 0;
}
.container-made {
    display: flex;
    margin: 0% 0.5% 0% 0.5%; }
.item-2{
    flex-basis: 50%;
    margin-right: 3px;
    height: 100%;
}
.item-6{
    flex-basis: 50%;
}
.item-6 img{
    height: 415px;
    width: 100%;
}
.item-2 img{
    width: 100%;
    height: 205px;
}

/* Customer review
 */
.review{
    position: absolute;
    width: 1100px;
    height: 1050px;
    margin-top: 3534px;
    background-image: url("../images/Layer 17.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.review-left{
    height: 250px;
    margin: 25% 4% 0% 4%;
    border-radius: 3.5%;
    background-color: #e5e5e5;
    z-index : 0;
}
.review-center{
    height: 330px;
    margin: 8% 3% 0% 3%;
    border-radius: 3.5%;
    background-color: #ffcb0f;
    z-index: 1;
}
.review-left p{
    padding-top: 15%;
    text-align: left;
    margin: 0% 5% 13% 20%;
}
.review-center p{
    padding-top: 18%;
    text-align: left;
    margin: 0% 5% 13% 20%;
    color: #f3f3f3;
}
.icon-img{
    width: 30%;
    margin: 20% auto;
    text-align: center;
}
.box-center {
    margin: 0 auto;
    border-top: 15px solid #ffcb0f;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0; height:0;
}
.box-left {
    margin: 0 auto;
    border-top: 15px solid #e5e5e5;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0; height:0;
}
.box-right {
    float: left;
    display: inline-block;
    border-top: 5px solid transparent;
    border-right:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #e5e5e5;
    width: 0;
    height:2px;
    margin: 0% 5% 0% 0%;
}


/*Contact form
 */
.contact{
    position: absolute;
    width: 1100px;
    height: 180px;
    margin-top: 4350px;
    background-color: #ffcb0f;
    opacity: 0.75;
}
.contact h2{
    font-size: 25px;
    margin-top: 8%;
    text-align: center;
    font-family: FuturaLT-Bold;
    color: #222222;
}
.contact h1{
    font-size: 27px;
    margin-top: 5%;
    text-align: center;
    color: #222222;
}
.item-2 input{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10% 0% 5% 0%;
    width: 240px;
    height: 45px;
    border: none;
    padding-left: 10px;
}
.contact-input{
    margin-right: 10px;
}
.contact-input input{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 2% 2% 5% 0%;
    width: 400px;
    height: 45px;
    max-width: 100%;
    border: none;
    padding-left: 10px;
}
.contact-input button{
    border-radius: 10px;
    background-color: rgb(47, 50, 64);
    width: 90px;
    height: 45px;
    margin-left: 5px;
    color: #f3f3f3;
    border: none;
}
.contact-input button:hover{
    background-color: firebrick;
    cursor:pointer;
}

/*Footer
 */
.tab-mo{
    position: absolute;
    width: 1100px;
    height: 60px;
    margin-top: 4530px;
    background-color: #222533;
    opacity: 0.4;
}
.footer{
    position: absolute;
    width: 1100px;
    height: 550px;
    margin-top: 4584px;
    background-image: url("../images/Layer 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.text-footer{
    padding-top: 18px;
}
.container-footer {
    position: absolute;
    margin-top: 320px;
     display: flex;}

.item-5 {
    flex-basis: 20%;
    margin-right: 3%;
    width: 50px;
    height: 40px;
    margin-top: 15px;
    background-color: #ffcb0f;
    border-radius: 50px;
}
.item-5 i{
    margin-left: 33%;
    margin-top: 30%;
}
.item-4 a{
    color: rgb(183, 183, 183);
}
footer{
    position: absolute;
    width: 1100px;
    height: 60px;
    margin-top: 5134px;
    background-color: #222533;
}
footer p{
    line-height: 5.5px;
    margin: 30% 0 0 38%;
    display: inline;
    font-size: 17px;
    color: #f3f3f3;
}
footer h6{
    top: 10px;
    display: inline;
    font-size: 17px;
    color: #ffcb0f;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 70%;
    max-width: 1100px;
}
.mySlides img{
    margin-top: 3%;
    height: 450px;
    width: 55%;
    text-align: center;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.padding{
    padding-left: 60px;
}
a {
    color: #222222;
}